.container {
	margin: 0 auto;
	max-width: 73.4rem;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
}
.custom-table {
	
	h2 {
		text-align: center;
	}
	
	table {
		min-width: 50rem;
		margin: 0 auto;
		border: 0.5px solid lightgray;

		tbody tr td{
			line-height: 1;
			padding: 0 1.5rem;
			word-break: break-word;
			:first-child {
				width: 20rem;
			}
		}
	}
}